.MemoryShow-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.MemoryShow-headline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MemoryShow-buttons {
    margin-left: 10px;
}

.MemoryShow-headline .btn {
    position: relative;
    top: 5px;
    margin: 5px;
}

.MemoryShow-AddFile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.MemoryShow-AddBtn {
    margin: 10px;
}