/* .NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    color: white;
    font-weight: 500;
    background-color: rgba(1,1,1,0.3);
    height: 30px;
}

.NavBar a {
    color: white;
} */

nav {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: rgba(79,98,114,0.35);
    padding: 0 10px;
}

.NavBar-link, .NavBar-welcome {
    font-size: 16px;
}