.MemList-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-button {
    position: relative;
    top: 5px;
    margin: 20px;
}

.MemIndex-title {
    font-family: 'Montserrat', sans-serif;
}